# Installation and Library Imports

In [ ]:
#Install the Pandas, MongoDb, MySql Modules

!pip install pymongo
!pip install mysql-connector-python

In [ ]:
#Import the libraries required for the project
import re
import pandas as pd
import numpy as np
from pymongo.mongo_client import MongoClient
from pymongo.server_api import ServerApi
import mysql.connector
from pymongo import MongoClient
from sqlalchemy import create_engine, Table, Column, Integer, String, MetaData, ForeignKey
import sqlalchemy

In [ ]:
  # Mount the google drive to be able to read the CSV file
  # Ensure the file to be read is uploaded in the current google drive folder path
  from google.colab import drive
  drive.mount('/content/drive')

# Pandas Dataframe Operations on the Dataset

In [ ]:
# Read the Excel file which has the Census Data to be processed into DataFrame (DF1)
df1 = pd.read_excel('/content/drive/MyDrive/Colab Notebooks/census_2011.xlsx')
display(df1)

In [ ]:
# set option to display all the rows and columns of the dataframe
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

In [ ]:
# (Task 1 : Rename the Given Columns)
df1.rename(columns = {'State name': 'State_UT'}, inplace = True)
df1.rename(columns = {'District name': 'District'}, inplace = True)
df1.rename(columns = {' Male_Literate ': 'Literate_Male'}, inplace = True)
df1.rename(columns = { 'Female_Literate': 'Literate_Female'}, inplace = True)
df1.rename(columns = {'Rural_Households': 'Households_Rural'}, inplace = True)
df1.rename(columns = { 'Urban_ Households': 'Households_Urban'}, inplace = True)
df1.rename(columns = { 'Age_Group_0_29': 'Young_and_Adult'}, inplace = True)
df1.rename(columns = { 'Age_Group_30_49': 'Middle_Aged'}, inplace = True)
df1.rename(columns = { 'Age_Group_50': 'Senior_Citizen'}, inplace = True)
df1.rename(columns = { 'Age not stated': 'Age_Not_Stated'}, inplace = True)

display(df1)

In [ ]:
# Make the State Column in title case and change AND to and
df1['State_UT'] = df1['State_UT'].str.title()
df1["State_UT"] = df1["State_UT"].apply(lambda x: x.replace(" And ", " and "))
display(df1)

In [ ]:
#Update Telegana for listed Districts

df_Telangana = pd.read_table('/content/drive/MyDrive/Colab Notebooks/Telangana.txt', delimiter=" ",header=None)
df_Telangana.columns=["TelDist"]
TDist = df_Telangana.TelDist.tolist()
for i in range (0, df1.shape[0]):
    if df1.District[i] in TDist:
        df1.loc[i,['State/UT']] = "Telangana"
    else:
        continue

df1.loc[df1['State/UT'] == 'Telangana', ['State/UT','District']]

In [ ]:
#Update Leh Ladhak for listed Districts
LadakhDist = ['Leh(Ladakh)','Kargil']
for i in range (0, df1.shape[0]):
    if df1.District[i] in LadakhDist:
        df1.loc[i,['State/UT']] = "Ladakh"
    else:
        continue
df1.loc[df1['State/UT'] == 'Ladakh', ['State/UT','District']]

In [ ]:
#Calculate the Missing Values in the Given Dataset before updating
df_missing_values_before = pd.DataFrame(df1.isna().mean().round(4) * 100).reset_index()
df_missing_values_before.columns = ['Column Name', 'Percent of Missing Values Before']
df_missing_values_before

In [ ]:
#Update Dataset with Missing Values
# Fill Missing Values in "Population" with the sum of "Male" and "Female"
df1['Population'] = df1['Population'].fillna(df1['Male'] + df1['Female'])
df1['Population'] = df1['Population'].fillna(df1['Young_and_Adult'] + df1['Middle_Aged']+ df1['Senior_Citizen']+ df1['Age_Not_Stated'])

#Fill Missing Values in "Literate" with the sum of "Male Literate" and "Literate_Female"
df1['Literate'] = df1['Literate'].fillna(df1['Male_Literate'] + df1['Literate_Female'])

#Fill Missing Values in "SC" with the sum of "Male_SC" and "Female_SC"
df1['SC'] = df1['SC'].fillna(df1['Male_SC'] + df1['Female_SC'])

#Fill Missing Values in "ST" with the sum of "Male_ST" and "Female_ST"
df1['ST'] = df1['ST'].fillna(df1['Male_ST'] + df1['Female_ST'])

#Fill Missing Values in "Workers" with the sum of "Male_Workers" and "Female_Workers"
df1['Workers'] = df1['Workers'].fillna(df1['Male_Workers'] + df1['Female_Workers'])

#Fill Missing Values in "Total_Education" with the sum of "Below_Primary_Education", "Primary_Education", "Middle_Education", "Secondary_Education","Higher_Education", "Graduate_Education", "Other_Education", "Literate_Education"
df1['Total_Education'] = df1['Total_Education'].fillna(df1['Below_Primary_Education']) + df1['Primary_Education'] + df1['Middle_Education'] + df1['Secondary_Education'] + df1['Higher_Education'] + df1['Graduate_Education'] + df1['Other_Education'] + df1['Literate_Education']

#Fill Missing Values in "Total_Power_Parity" with the sum of "Power_Parity_Less_than_Rs_45000","Power_Parity_Rs_45000_90000","Power_Parity_Rs_90000_150000","Power_Parity_Rs_45000_150000","Power_Parity_Rs_150000_240000","Power_Parity_Rs_240000_330000","Power_Parity_Rs_150000_330000","Power_Parity_Rs_330000_425000","Power_Parity_Rs_425000_545000","Power_Parity_Rs_330000_545000","Power_Parity_Above_Rs_545000"
df1['Total_Power_Parity'] = df1['Total_Power_Parity'].fillna(df1['Power_Parity_Less_than_Rs_45000'])+df1['Power_Parity_Rs_45000_90000']+df1['Power_Parity_Rs_90000_150000']+df1['Power_Parity_Rs_45000_150000']+df1['Power_Parity_Rs_150000_240000']+df1['Power_Parity_Rs_240000_330000']+df1['Power_Parity_Rs_150000_330000']+df1['Power_Parity_Rs_330000_425000']+df1['Power_Parity_Rs_425000_545000']  +df1['Power_Parity_Rs_330000_545000']+df1['Power_Parity_Above_Rs_545000']

In [ ]:
#Calculate the percentage of missing values after updating the missing values

df_missing_values_after = pd.DataFrame(df1.isna().mean().round(4) * 100).reset_index()
df_missing_values_after.columns = ['Column Name', 'Percent of Missing Values After']

#Update the Dataframe with the Missing Values before and After
df_missing_values = pd.merge(df_missing_values_before, df_missing_values_after, on='Column Name')


#Calculate the difference of the percentage in the missing value before and after updating the missing value
df_missing_values['beforeVSafter'] = df_missing_values['Percent of Missing Values Before'] - df_missing_values['Percent of Missing Values After']
df_missing_values

#MongoDB Operations

In [ ]:
#Create a MongoDB Connection in TIDB and update the MongoDB Database with the DataFrame
uri = "mongodb+srv://csyaminisc:securetimes@cluster0.jw5gioj.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0"
# Create a new client and connect to the server
client = MongoClient("mongodb+srv://csyaminisc:securetimes@cluster0.jw5gioj.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0")
db=client.Census #Database Name
mycol1 = db["Census2011"] #Collection Name
fields = df1.to_dict('records')
mycol1.insert_many(fields)

#MySQL Operations

In [ ]:

#Retrieve the Collection from MongoDB and Update MYSql

# MySQL connection string
database_username = '2Gzzgf7uUMuiWvf.root'
database_password = 'Vz7UELZ5l4AxGUPv'
database_ip       = 'gateway01.ap-southeast-1.prod.aws.tidbcloud.com'
database_name     = 'Census2011'
database_connection = sqlalchemy.create_engine('mysql+mysqlconnector://{0}:{1}@{2}/{3}'.
                                               format(database_username, database_password,
                                                      database_ip, database_name))
# Fetch data from MongoDB
collection_name = 'Census2011'
collection = db[collection_name]
df = pd.DataFrame(list(collection.find()))
new_column_names = {}
for col in df.columns:
    if len(col) > 64:
        new_name = col[:64]  # Truncate to 64 characters (MySQL limit)
        new_column_names[col] = new_name # Update the New Column Name

# Apply the column name changes to the DataFrame
df = df.rename(columns=new_column_names)

# Convert ObjectId to string
df['_id'] = df['_id'].astype(str) # MySQL can handle strings

# Update the Dataframe to MYSQL Database
df.to_sql(con=database_connection, name='census2011', if_exists='replace', index=False) # Don't save the index

#Use queries.py file to run the queries in Streamlit